@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Open+Sans');
body {
  font-family: 'Libre Franklin';
}

nav {
  background-color: black;
}

li {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 90px;
  z-index: 1;
  color: grey;
  padding: 10px;
}

.dropdown-content a {
  text-decoration: none;
  color: grey;
}

.dropdown-content a:hover{
  color: #b5b5b5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icons {
  vertical-align: middle;
}

.body {
  text-align: center;
}

.headers {
  font-family: "Snell Roundhand", cursive;
  height: 70px;
  margin: 20px 0px 20px 0px;
}

.header-text {
  line-height: 20px; 
  display: inline-block;
  position: relative;
}

.header-span {
  display: inline-block;
  width: 500px;
  line-height: 60px;
  background-color: white;
  letter-spacing: 2px;
  border-bottom: 1px solid black;
}

.story-images {
  width: 80%;
  height: 170px;
  border-radius: 7px;
  margin-bottom: 10px;
}

.issue {
  height: 150px;
  background-color: #324369;
  margin: 20px 0px;
}

.issue-text {
  font-family: "Snell Roundhand", cursive;
  font-size: 60px;
  line-height: 150px;
  color: white;
}

.announcements {
  padding: 3px;

}