@import url('https://fonts.googleapis.com/css?family=Libre+Franklin|Josefin+Sans|Muli');
body {
  font-family: 'Libre Franklin';
}

a:hover {
  text-decoration: none;
  color: #0c4cb2;
}

nav {
  background-color: black;
  font-family: 'Josefin Sans';
}

li {
  display: inline-block;
}

.logo {
  margin: -12px;
  width: 40px; 
  margin-right: 10px;
}

.dropdown-content, .dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 90px;
  z-index: 1;
  color: grey;
  padding: 10px;
}

.dropdown-content a, .dropdown-content-2 a {
  text-decoration: none;
  color: grey;
}

.dropdown-content a:hover, .dropdown-content-2 a:hover{
  color: #b5b5b5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-active {
  color: white;
}

.dropdown-2:hover .dropdown-content-2 {
    display: block;
}

a {
  color: inherit;
}

.icons {
  font-size: 25px;
  color: grey;
  margin: 0px 10px;
  padding-top: 2px;
}

.search-input {
  line-height: 10px;
  border: none;
  border-radius: 5px;
  background: #c9c9c9;
  padding: 4px 4px 3px 4px;
  margin-right: 6px;
}

.search-icon {
  margin-right: 30px;
}

html, body {
  height: 100%;
}

.body {
  text-align: center;
  min-height: 100%;
  margin: 0 auto -100px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.headers {
  font-family: 'Josefin Sans', 'Avenir Next', 'Helvetica';
  margin: 40px 0px 20px 0px;
}

.header-text {
  line-height: 20px; 
  display: inline-block;
  position: relative;
}

.header-span {
  display: inline-block;
  width: 500px;
  line-height: 30px;
  background-color: white;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.logo-header-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.logo-header {
  width: 300px;
  height: 300px;
}

.story-images {
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
}

.stories {
  margin: 20px 0px;
}

.issue {
  height: 150px;
  margin: 20px 0px 50px 0px;
  border: 2px solid black;
}

.issue-text {
  font-family: 'Josefin Sans', 'Avenir Next', 'Helvetica';
  font-size: 60px;
  line-height: 150px;

}

.announcements {
  padding: 3px;

}

.staff-photo {
  width: 80%;
  height: 500px;
}

.staff-intro {
  text-align: left;
  padding: 20px;
}

.story-page-photo {
  width: 170px;
  height: 170px;
}

.story-images-wrapper {
  padding-top: 20px;
}

.story-intro {
  text-align: left;
  padding: 20px;
}

.audio-player {
  margin-bottom: 20px;
}

.transcript {
  text-align: left;
  padding: 30px;
}

.transcript iframe {
    width: 80%;
    height: 600px;
}

.dark {
  background-color: black;
  color: grey;
}

footer {
  padding-left: 20px;
}

.footer-text {
  line-height: 10px;
}

.middle {
  text-align: center;
}

.issue-images {
  width: 600px;
  height: 200px;
  margin: 50px 0px 100px 0px;
}

button, input[type="submit"]{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#index-issue-image {
  width: 600px;
  height: 200px;
  margin: 10px 0px 50px 0px;
}