<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Contact Us</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="style/style.css">

</head>

<body>
  <nav class="navbar navbar-inverse navbar-toggleable-sm">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
          <li class='nav-item'><a class="nav-link" href="index.html">(Logo)</a></li>
          <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item dropdown"><a class="nav-link dropdown" href="overview.html">About</a>
            <div class='dropdown-content'>
              <a href='overview.html'>Overview</a>
              <a href='staff.html'>Staff</a>
              <a href='subscribe.html'>Subscribe</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="archive.html">Archive</a></li>
          <li class="nav-item active"><a class="nav-link" href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container body">
	
    <div class='row headers'>
        <div class='col-12'>
          <h3 class='header-text'><span class='header-span'>Contact Info</span></h3>
        </div>
      </div>

    <!-- placeholders for links to stories -->
    <div id="">
      <p>If you have any questions, email <a href="mailto:info@nowherethis.org?Subject=Hello" target="_top">info@nowherethis.org</a>.</p>
      <p>If you want to pitch a story, email <a href="mailto:pitch@nowherethis.org?Subject=Pitch" target="_top">pitch@nowherethis.org</a>.</p>
      <p>If you are interested in joining the team, please apply <a href="https://docs.google.com/forms/d/e/1FAIpQLSdUf1wJ9KUEQBp5dFWLbKpOeykTJfi6-CKrRK-f8pHM9xmYTA/closedform">here</a>.</p>
    </div>
  
<div></div>
</body>
</html>