<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
    <script defer src="../style/fontawesome-all.js"></script>
  </head>

<body>
	
    <nav class="navbar navbar-inverse navbar-toggleable-sm">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
            <li class='nav-item'><a class="nav-link" href="index.html">(Logo)</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item dropdown active"><a class="nav-link" href="overview.html">About</a>
              <div class='dropdown-content'>
                <a href='overview.html'>Overview</a>
                <a href='#'>Staff</a>
                <a href='subscribe.html'>Subscribe</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="archive.html">Archive</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class='nav-item search-li'><input type="text" class='search-input' placeholder="Search for stories"></li>
            <li class='nav-item icons search-icon'><i class='fas fa-search'></i></li>
            <li class='nav-item icons'><i class='fab fa-facebook'></i></li>
            <li class='nav-item icons'><i class='fab fa-twitter'></i></li>
          </ul>
        </div>
      </div>
    </nav>

	<!-- Content -->
	<div class="container body">
      <div class='row headers'>
        <div class='col-12'>
          <h3 class='header-text'><span class='header-span'>Managing Editors</span></h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-3'>
          <div class='stories'>
            <img src="../images/staff/ari_snider.jpg" class='story-images'>
            <h6>Editor 1</h6>
          </div>
        </div>
        <div class='col-3'>
          <div class='stories'>
            <img src="../images/staff/ari_snider.jpg" class='story-images'>
            <h6>Editor 2</h6>
          </div>
        </div>
        <div class='col-3'>
          <div class='stories'>
            <img src="../images/staff/ari_snider.jpg" class='story-images'>
            <h6>Editor 3</h6>
          </div>
        </div>
        <div class='col-3'>
          <div class='stories'>
            <img src="../images/staff/ari_snider.jpg" class='story-images'>
            <h6>Editor 4</h6>
          </div>
        </div>
      </div>

      <div class='row headers'>
        <div class='col-12'>
          <h3 class='header-text'><span class='header-span'>Producers</span></h3>
        </div>
      </div>
      <div class='row'>
        <div class='col-3'>
          <div class='stories'>
            <img src="../images/staff/ari_snider.jpg" class='story-images'>
            <h6>Producer 1</h6>
          </div>
        </div>
        <div class='col-3'>
          <div class='stories'>
            <img src="../images/staff/ari_snider.jpg" class='story-images'>
            <h6>Producer 2</h6>
          </div>
        </div>
        <div class='col-3'>
          <div class='stories'>
            <img src="../images/staff/ari_snider.jpg" class='story-images'>
            <h6>Producer 3</h6>
          </div>
        </div>
        <div class='col-3'>
          <div class='stories'>
            <img src="../images/staff/ari_snider.jpg" class='story-images'>
            <h6>Producer 4</h6>
          </div>
        </div>
      </div>
    </div>
    <footer class="page-footer font-small dark pt-4 pb-2 mt-4">
      <div class='container'>
        <div class='footer-text'>
          <p>Contact Us: info@nowherethis.org</p>
        </div>
        <div class='footer-text'>
          <p>@Copyright 2017 - All Rights Reserved</p>
        </div>
      </div>
    </footer>
</body>

</html>