<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>story</title>
</head>

<body>
<nav class="navbar navbar-inverse navbar-toggleable-sm">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="../Home.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="../About.html">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="../Archive.html">Archive</a></li>
                        <li class="nav-item"><a class="nav-link" href="../Contact.html">Contact</a></li>
<!--
                        <li class="nav-item"><a class="nav-link" href="./lectures.html">Overview</a></li>
                        <li class="nav-item"><a class="nav-link" href="./labs.html">Staff</a></li>
                        <li class="nav-item"><a class="nav-link" href="./assignments.html">Subscribe</a></li>
-->
                    </ul>
                </div>
            </div>
        </nav>
	<img src="meme.jpg" style="width: 300px" />
	
	<div class="brief_info">
	<li>Story:</li>
	<li>Producer:</li>
	<li>Other Info:</li>
	</div>
	
	<div class="transcript head">--Transcript--</div>
	<div class="transcript"><p>Transcript goes here</p></div>
</body>
</html>
