<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>About | Subscribe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css">
  </head>

<body>
    <nav class="navbar navbar-inverse navbar-toggleable-sm">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav mr-auto">
          	<li class='nav-item'><a class="nav-link" href="index.html">(Logo)</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item dropdown active"><a class="nav-link dropdown" href="overview.html">About</a>
              <div class='dropdown-content'>
                <a href='overview.html'>Overview</a>
                <a href='staff.html'>Staff</a>
                <a href='subscribe.html'>Subscribe</a>
              </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="archive.html">Archive</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
	<!-- Content -->
	<div class="container body">
		<div class='row issue'>
        <div class='col-12'>
          <h3 class='issue-text'>Subscribe</h3>
        </div>
      </div>
		<div id="">
			<ul id="">
			<li id=""><a href="#">Itunes:...</a></li>
			<li id=""><a href="#">Follow us on Facebook:...</a></li>
			<li id=""><a href="#">Follow us on Twitter:...</a></li>
		</ul>
		</div>
	</div>

	<!-- Footer -->
	    <footer class="page-footer font-small dark pt-4 pb-2 mt-4">
      <div class='container'>
        <div class='footer-text'>
          <p>Contact Us: info@nowherethis.org</p>
        </div>
        <div class='footer-text'>
          <p>@Copyright 2017 - All Rights Reserved</p>
        </div>
      </div>
    </footer>

</body>

</html>